@use 'variables' as *;

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    width: 100%;
    padding-block: 1rem;
    background-color: $background-darker;

    .contact {
        h4 {
            margin-bottom: 8px;
        }

        address {

            font-style: normal;
            line-height: 1.5;
            margin-bottom: 8px;
        }
    }

    .footer-logo {
        display: flex;
        justify-content: center;

        a {
            display: flex;
            justify-content: center;
            cursor: pointer;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .social-container {
        display: flex;
        flex-direction: column;
        gap: 8px;

        h4 {
            margin-bottom: 8px;
        }

        .social-icons {
            display: flex;
            gap: 12px;



            .social-links {
                display: inline-block;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                transition: all 0.3s ease;

                svg {
                    width: 100%;
                    height: 100%;
                    display: block;
                }

                &:hover {
                    transform: translateY(-3px);
                    filter: drop-shadow(0 0 8px rgba(49, 120, 198, 0.6));
                }

            }

        }

    }
}

@media(max-width: 768px) {
    footer {
        flex-direction: column;
        gap: 2rem;
        text-align: center;
        padding-bottom: 140px;

        .contact,
        .social-container {
            align-items: center;
        }

        .social-container {
            .social-icons {
                justify-content: center;
            }
        }

        //Döljer footer-logo på mobiler.
        .footer-logo {
            display: none;
        }
    }
}