<div class="page-course">
    <section class="top-section">
        <h2>Kurser</h2>
        <p>Här hittar du hela vårt kursutbud. Du kan söka eller filtrera fram kurserna.</p>

        <!-- Felmeddelande-->
        @if(error()) {
        <div class="error">
            <span class="material-symbols-outlined">
                error
            </span>
            <p class="error-text">{{error()}}</p>
        </div>
        }

        <div class="search-select">

            <!-- Filtrering på kurskod och kursnamn-->
            <label>
                <input type="text" [(ngModel)]="filterText" (ngModelChange)="resetPagination()">
                <span [class.searching]="filterText()">Sök kurs</span>
            </label>

            <!-- Filtrering på ämnen-->
            <select [(ngModel)]="selectedSubject" (ngModelChange)="resetPagination()">
                <option value="">Alla ämnen</option>
                @for(subject of allSubjects(); track subject) {
                <option [value]="subject">{{subject}}</option>
                }
            </select>
        </div>

        <!-- Filtrering på nivå-->
        <div class="level-container">
            <label>
                <input type="checkbox" (change)="changeLevels('BE'); resetPagination()">
                Behörighetsgivande
            </label>
            <label>
                <input type="checkbox" (change)="changeLevels('GR'); resetPagination()">
                Grundläggande
            </label>
            <label>
                <input type="checkbox" (change)="changeLevels('AV'); resetPagination()">
                Avancerad
            </label>
            <label>
                <input type="checkbox" (change)="changeLevels('FO'); resetPagination()">
                Forskarnivå
            </label>
            <label>
                <input type="checkbox" (change)="changeLevels('X'); resetPagination()">
                Övriga nivåer
            </label>
        </div>


        <!-- Sortering i stigande och fallande ordning -->
        <div class="sort-container">
            <h3>Sortera efter</h3>
            <button class="sort-button" [class.active]="sortService.sortBy() === 'courseCode'"
                (click)="sortService.changeSortOrder('courseCode'); resetPagination()">Kurskod
                @if (sortService.sortBy() === "courseCode"){
                <span class="material-symbols-outlined">
                    {{sortService.sortDirection() === "asc" ? "arrow_upward" : "arrow_downward"}}
                </span>
                }@else {
                <span class="material-symbols-outlined inactive">swap_vert</span>
                }
            </button>
            <button class="sort-button" [class.active]="sortService.sortBy() === 'courseName'"
                (click)="sortService.changeSortOrder('courseName'); resetPagination()">Kursnamn
                @if (sortService.sortBy() === "courseName"){
                <span class="material-symbols-outlined">
                    {{sortService.sortDirection() === "asc" ? "arrow_upward" : "arrow_downward"}}
                </span>
                }@else {
                <span class="material-symbols-outlined inactive">swap_vert</span>
                }
            </button>
            <button class="sort-button" [class.active]="sortService.sortBy() === 'points'"
                (click)="sortService.changeSortOrder('points'); resetPagination()">Poäng
                @if (sortService.sortBy() === "points"){
                <span class="material-symbols-outlined">
                    {{sortService.sortDirection() === "asc" ? "arrow_upward" : "arrow_downward"}}
                </span>
                }@else {
                <span class="material-symbols-outlined inactive">swap_vert</span>
                }
            </button>
            <button class="sort-button" [class.active]="sortService.sortBy() === 'subject'"
                (click)="sortService.changeSortOrder('subject'); resetPagination()">Ämne
                @if (sortService.sortBy() === "subject"){
                <span class="material-symbols-outlined">
                    {{sortService.sortDirection() === "asc" ? "arrow_upward" : "arrow_downward"}}
                </span>
                }@else {
                <span class="material-symbols-outlined inactive">swap_vert</span>
                }
            </button>
        </div>


        <!-- Antal kurser som visas-->
        @if(!error() && !loading()) {
        <p>Visar {{filterAndSortCourses().length}} av {{courseService.courses().length}} kurser.</p>
        }

    </section>

    <!-- Spinner visas med kurser laddas -->
    @if(loading()) {
    <div class="loading-container">
        <span class="material-symbols-outlined">
            menu_book
        </span>
        <mat-spinner [diameter]="100"></mat-spinner>
    </div>
    }

    <!-- Visas endast när kurser har laddats klart och inga felmeddeladen förekommer-->
    @if(!loading() && !error()) {


    <section class="course-container">


        @for(course of paginationFilter(); track course.courseCode + course.subjectCode) {
        <!-- Här skrivs kurserna ut-->
        <article class="course-card">
            <div class="card-header">
                <span class="badge">{{course.points}} HP</span>
                <button class="course-button"
                    [class.added-course]="scheduleService.isCourseInSchedule(course.courseCode)"
                    (click)="scheduleService.toggleCourseStatus(course)"
                    [attr.aria-label]="scheduleService.isCourseInSchedule(course.courseCode) ? 'Ta bort kurs ' + course.courseCode : 'Lägg till kurs ' + course.courseCode">

                    <span class="material-symbols-outlined">{{scheduleService.isCourseInSchedule(course.courseCode) ?
                        "remove" :"add" }}</span>
                </button>
            </div>
            <h3><span class="code">{{course.courseCode}}</span> {{course.courseName}}</h3>

            <ul class="course-info">
                <li><strong>Ämne:</strong> {{course.subject}} ({{course.subjectCode}})</li>

                <!--Skriver ut förkortningar på nivå -->
                @if(course.level === "BE") {
                <li><strong>Nivå: </strong> Behörighetsgivande</li>
                }
                @else if(course.level === "GR") {
                <li><strong>Nivå: </strong> Grundläggande</li>
                }
                @else if(course.level === "AV") {
                <li><strong>Nivå: </strong> Avancerad</li>
                }
                @else if(course.level === "FO") {
                <li><strong>Nivå: </strong> Forskarnivå</li>
                }
                @else if(course.level) {
                <li><strong>Nivå: </strong> {{course.level}}</li>
                }

                <li><strong>Progression: </strong>{{course.progression}}</li>
                <li><strong>Institution: </strong>{{course.institutionCode}}</li>
            </ul>
            <a [href]="course.syllabus" target="_blank" rel="noopener noreferrer">Visa kursplan</a>
        </article>
        } @empty {
        <!-- Om sökning inte matchar kursnamn eller kurskod-->
        @if(!error()) {
        @if(filterText()) {
        <p class="no-match">Inga kurser matchar <strong>{{filterText()}}</strong>. Prova att ändra sökord eller filter.
        </p>
        } @else {
        <p class="no-match">Inga kurser matchar valt filter. Prova att ändra dina val.</p>
        }
        }

        }

    </section>

    <!-- Paginering-->
    <nav class="paginator-container">
        <mat-paginator [length]="filterAndSortCourses().length" [pageSize]="pageSize()" [pageIndex]="pageIndex()"
            (page)="handlePageEvent($event)" hidePageSize="true" [showFirstLastButtons]="true" aria-label="Välj sida">
        </mat-paginator>
    </nav>
    }

</div>