* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #070D1A;
    width: 100%;
    max-height: 130px;
    padding: 1rem;


    .header-logo {
        display: flex;
        align-items: center;

    }

}

body {
    background: #0D1729;
    font-family: "Roboto", sans-serif;
}

h1,
p {
    color: white;
}

h1 {
    font-weight: 300;
}