 @use 'variables' as *;
@use '@angular/material' as mat;

html {
  scroll-behavior: smooth;
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  height: 100%;
  background: $background;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}
 


.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 1rem;
}

h1,
h2,
h3,
h4,
p {
  color: white;
}

h1 {
  font-weight: 300;
  font-size: 28px;

  
}

h4 {
  font-size: 1.1rem;
}

p {
  max-width: 65ch;
}

