@use 'variables' as *;

@mixin nav-button {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    padding: 10px 16px;
    background-color: $primary-color;
    color: $text-light;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 0 20px rgba(49, 120, 198, 0.4);
    }

    .material-symbols-outlined {
        font-size: 20px;


    }
}


@mixin mobile-nav-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 12px;
    width: 85px;
    padding: 10px;
    cursor: pointer;

    .material-symbols-outlined {
        font-size: 24px;


    }
}

@mixin course-cards {
    .course-card {
            display: flex;
            flex-direction: column;
            background-color: $secondary-color;
            border: 1px solid $badge-border;
            padding: 1.5rem;
            border-radius: 12px;
            gap: 12px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;

            &:hover {
                transform: translateY(-3px);
                box-shadow: 0 10px 30px rgba(49, 120, 198, 0.3),
                    0 0 18px rgba(49, 120, 198, 0.25);
                border-color: rgba(49, 120, 198, 0.6);
            }


            .card-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin-bottom: 6px;


                .badge {
                    background-color: $badge;
                    color: $text-light;
                    border: 1px solid $badge-border;
                    padding: 4px 10px;
                    border-radius: 6px;
                    font-size: 1rem;
                }

                //Knapp: Lägg till i ramschemat
                .course-button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 42px;
                    height: 42px;
                    border-radius: 50%;
                    background-color: $badge;
                    border: 1px solid $badge-border;
                    color: $text-light;
                    cursor: pointer;
                    transition: all 0.2s ease;

                    &:hover {
                        background-color: $add-button;
                        border: 1.1px solid $add-button-border;
                        transform: scale(1.05);
                    }

                    &.added-course {
                        background-color: $remove-button;
                        border: 1px solid $remove-button-border;
                         


                         &:hover {
                            border: 1.1px solid $remove-button-border;
                            transform: scale(1.05);
                         }
                    }

                }

            }


            h3 {
                font-size: 18px;
                font-weight: 300;

                .code {
                    font-weight: 600;
                    margin-right: 3px;
                }
            }

            .course-info {
                display: flex;
                flex-direction: column;
                justify-self: center;
                list-style: none;
                border: 1px solid $badge-border;
                padding: 10px;
                border-radius: 12px;
                gap: 8px;
                margin-bottom: 8px;


                li {
                    color: $text-light;
                    font-size: 14px;

                }

            }

            a {
                @include nav-button;
                margin-top: auto;
                align-self: center;

                &:hover {
                    transform: none;
                }

            }
        }
}