/************************************/
/************* Färger **************/
/**********************************/

$primary-color: #3178C6; 
$secondary-color: #314A75;

$background: #0D1729;
$background-darker:  #070D1A;

$border-light: #7F9BCD;

$badge:rgba(255, 255, 255, 0.1);
$badge-border:rgba(255, 255, 255, 0.2);

$text-light:#FFF