nav {

    ul {
        display: flex;
        gap: 15px;
        list-style: none;


        a {
            display: inline-flex;
            align-items: center;
            text-decoration: none;
            gap: 4px;
            font-size: 1rem;
            padding: 10px 16px;
            background-color: rgb(49, 120, 198);
            color: white;
            border-radius: 10px;
            transition: all 0.3s ease;

            .material-symbols-outlined {
                font-size: 20px;
            }



            &:hover {
                transform: translateY(-5px);
                box-shadow: 0 0 20px rgba(49, 120, 198, 0.4);
            }

        }
    }
}